@import '../../../Styles/Scsss/abstracts/variables';
@import '../../../Styles/Scsss/abstracts/mixins';
@import '../../../Styles/Scsss/abstracts/extends';

.list-title {
    h1 {
        @extend %h1;
        color: $iconesColor;
    }
}

.list-block {
    background-color: $backGroundColor;
    padding: 3vw;
}

.list-title {
    padding-bottom: 9px;   
}

.list-container {
    @include flex (row, center, unset, wrap);
    gap: 10px;
}

//Laptop
@media only screen and (min-width: 413px) {
    .list-container {
        justify-content: space-between;
    }
}

//Tablet
@media only screen and (max-width: 820px) and (min-width: 413px) {
    // .categories-container {
    //     justify-content: space-between;
    // }
}

//Mobile
@media only screen and (max-width: 412px) and (min-width: 300px) {
    .list-container {
        justify-content: center;
    }
}