@import '../../../Styles/Scsss/abstracts/variables';
@import '../../../Styles/Scsss/abstracts/mixins';
@import '../../../Styles/Scsss/abstracts/extends';

.categories-title {
    h1 {
        @extend %h1;
        color: $iconesColor;
    }
    p {
        @extend %h4;
        color: $iconesColor;
        opacity: 0.6;
    }
}

.categories-block {
    background-color: white;
    padding: 3vw;
}

.categories-title {
    padding-bottom: 9px;   
}

.categories-container {
    @include flex (row, center, unset, wrap);
    row-gap: 10px;
    // column-gap: 30px;
}

//Laptop
@media only screen and (min-width: 821px) {
    .categories-container {
        justify-content: space-between;
    }
}

//Tablet
@media only screen and (max-width: 820px) and (min-width: 413px) {
    // .categories-container {
    //     justify-content: space-between;
    // }
}

//Mobile
@media only screen and (max-width: 412px) and (min-width: 300px) {
    .categories-container {
        justify-content: center;
    }
}