@import './Styles/Scsss/abstracts/variables';

body {
  margin-bottom: 58px;
}

//Laptopt
@media only  screen and (max-width: 1800px) and (min-width: 821px) {
  .header  .hamburgerMenu{
    display: none;
  }


}
//Tablet
@media only  screen and (max-width: 820px) and (min-width: 413px) {
  .header .hamburgerMenu{
    display: none;
  }

  .slogan{
    display: none;
  }

  .buttonTthird{
    height: 40px;
    width: 164px;
  }

  .buttonPrimary{
    width: 346px;
  }
  .buttonPrimary:hover{
    background-color: red;
  }
}
//Mobile
@media only  screen and (max-width: 412px) and (min-width: 300px) {
  .header .menu{
    display: none;
  }
  .header .viewInfoCurrentUserMobile{
    display: none;
  }

  .slogan{
    display: none;
  }

  .buttonTthird{
    height: 40px;
    width: 394px;
    background-color: $mainColor;
    color: $backGroundColor;
  }

  .buttonPrimary{
    width: 300px;
  }

  .input-custom{
    width: 300px;
  }

  .footer ul{
    display: none;
  }

  .infoUser{
    display: none;
  }

  .seeker{
    height: 300px;
    text-align: center;
    .seekerInputs {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      .inputPrimary{
        width: 300px;
        margin: 10px;
      }
      .buttonPrimary{
        margin: 10px;
      }
    }

  } 

  
}

